<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- All dirs are relative to the current working directory-->
    <!-- Type: Boolean -->
    <add key="relative_log_file_path" value="true"/>
    <!-- Type: String -->
    <add key="log_file_path" value="log" />
    <!-- Type: String-->
    <add key="log_file_base" value="log"/>
    <!-- Type: Boolean-->
    <add key="relative_persistent_path" value ="true"/>
    <!-- Type: String-->
    <add key="persistent_path" value="persistent" />
    <!-- Type: String-->
    <add key="persistent_file_name" value="data.persistent"/>
  </appSettings>
</configuration>